<style>
    input[name=blik_code] {
        width: 150px;
        border: #ff6600 2px solid;
        height: auto;
        font-size: 26px;
        color: #1e1e1e;
        padding: 8px !important;
        letter-spacing: 0.2rem;
        display: inline-block;
        text-align: center;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
</style>
<label>
    {{ blik_code_label }}&nbsp;<input type="text" id="id_blik_code" maxlength="6" name="blik_code" value="" required="required" placeholder="Kod BLIK" pattern="[0-9]{6}" title="{{ blik_validate }}" oninput="this.value = this.value.replace(/[^0-9]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" />
</label>